{{> message}}

<div class="container">
    {{#each events}}
    <div class="row">
        <div class="col">
            <div class="card" id="event-card-4">
                Event Name: Study Session for CSCI {{this.course_no}} <br>
                Date: {{dateFormat date "L"}} <br>
                Start Time: {{this.start_time}} <br>
                End Time: {{this.end_time}} <br>
                Location: {{this.location}} <br>
            </div>
        </div>
        <div class="col">
        <a class="btn btn-primary" onclick="addEventToCalendar('{{this.course_no}}', '{{this.date}}', '{{this.start_time}}', '{{this.end_time}}', '{{this.location}}')">Add to your Calendar!</a>
        </div>
        <br>
    </div>
    
    {{/each}}
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Filter Calendar</h5>
                <p class="card-text">Not seeing what you want? Filter events to your needs!</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filtermodal"
                    >Filter Options</button>
                <form method="GET" action="/filter_events"></form>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="filtermodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="GET" action="/filter_events">
                    
                    <div class="modal-header">
                        <p class="modal-title">Filter Options</p>
                    </div>
    
                    <div class="modal-body">
                        <div> <!--Start of form inputs-->
                            <!--CLASS-->
                            <div class="row mb-3;">
                            
                                <label for="study_class" class="col-sm-2 col-form-label col-form-label-sm">Class:</label>
                                <div class="col-sm-10">
                                    <label style = "color:grey; font-size: 10pt">Course Code</label>
                                    <input list="study_class" id="course_code" name="course_code">
                                    <br>
                                    <label style = "color:grey; font-size: 10pt">Course Number</label>
                                    <input list="study_class" id="course_no" name="course_no">
                                </div>
                            </div>
                            <!--LOCATION-->
                             <div class="row mb-3">
                                <label for="study_location" name="study_location"
                                    class="col-sm-2 col-form-label col-form-label-sm">Location:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="location_filter" name="location_filter">
                                </div>
                            </div>
                            <!--DAY-->
                            
                            <div class="row mb-3">
                                <p>Select a range of dates:</p>
                                <label for="study_day" name="study_day" class="col-sm-2 col-form-label col-form-label-sm" >Start Date:</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm" name="day_range_start" id="day_range_start">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="study_day" name="study_day" class="col-sm-2 col-form-label col-form-label-sm">End Date:</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm" name="day_range_end" id="day_range_end">
                                </div>
                            </div>
                           
                            <!--Reoccuring Status-->
                            <div class="row mb-3">
                                <p>Do you want the session to be reoccuring?</p>
                                <input type="checkbox" name="reoccuring_status" id="reoccuring_status" value=true>
                            </div>
                        </div> <!--End of form inputs-->
                    </div> <!-- End of modal-body -->
    
                    <div class="modal-footer">
                        <form method="dialog">
                            <button id="submit_button" class="btn btn-primary" type="submit" name="submit">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </form>
            </div> <!--End of Modal Content-->
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create an Event</h5>
                <p class="card-text">Create a study group session!</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal"
                    >Create</button>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="createModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/create_session">
                    <!--Must finish /create_session to connect this form to our databases-->
                    <div class="modal-header">
                        <p class="modal-title">Create Study Session</p>
                    </div>
    
                    <div class="modal-body">
                        <div> <!--Start of form inputs-->
                            <!--CLASS-->
                            <div class="row mb-3;">
                                <label for="study_class" class="col-sm-2 col-form-label col-form-label-sm">Class:</label>
                                <div class="col-sm-10">
                                    <input list="study_class" id="study_class" name="study_class" required>
                                    <datalist name="study_class">
                                        {{#each Course}}
                                        <option value={{course_name}}>
                                            {{/each}}
                                    </datalist>
                                </div>
                            </div>
                            <!--DAY-->
                            <div class="row mb-3">
                                <label for="study_day" name="study_day" class="col-sm-2 col-form-label col-form-label-sm">Day:</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm" name="study_day" id="study_day" required>
                                </div>
                            </div>
                            <!--TIME-->
                            <div class="row mb-3">
                                <label for="study_time1" name="study_time1" class="col-sm-2 col-form-label col-form-label-sm">Start
                                    Time:</label>
                                <div class="col-sm-10">
                                    <div class="cs-form">
                                        <input type="time" class="form-control" value="00:00" id="study_time1" name="study_time1" required>
                                    </div>
                                </div>
                                <label for="study_time2" name="study_time2" class="col-sm-2 col-form-label col-form-label-sm">End Time:</label>
                                <div class="col-sm-10">
                                    <div class="cs-form">
                                        <input type="time" class="form-control" value="00:00" id="study_time2" name="study_time2" required>
                                    </div>
                                </div>
                            </div>
                            <!--LOCATION-->
                            <div class="row mb-3">
                                <label for="study_location" name="study_location"
                                    class="col-sm-2 col-form-label col-form-label-sm">Location:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="study_location" name="study_location" required>
                                </div>
                            </div>
                            <!--Reoccuring Status-->
                            <div class="row mb-3">
                                <label for="study_reoccur" name="study_reoccur"
                                    class="col-sm-2 col-form-label col-form-label-sm">Reoccuring?</label>
                                <input type="checkbox" name="study_reoccur" id="study_reoccur" value=true>
                            </div>
                        </div> <!--End of form inputs-->
                    </div> <!-- End of modal-body -->
    
                    <div class="modal-footer">
                        <form method="dialog">
                            <button id="submit_button" class="btn btn-primary" type="submit" name="submit">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </form>
            </div> <!--End of Modal Content-->
        </div>
    </div>

</div>
