{{> message}}

<div class="container">
    {{#each courses}}
    <div class="row">
        <div class="col">
            <div class="card" id="event-card-4">
                Event Name: {{this.course_name}} <br>
                {{!-- Weekday: {{this.weekday}} <br>
                Date: {{this.date}} <br>
                Start Time: {{this.start_time}} <br>
                End Time: {{this.end_time}} <br>
                Location: {{this.location}} <br> --}}
                
            </div>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="">Book Now!</a>
        </div>
        <br>
    </div>
    
    {{/each}}
</div>