{{> message}}

<div>
    <h1>Welcome {{username}}!</h1>


    <table class="table">
        <tr>
            <th>USERNAME: {{username}}</th>
            <td>
                <div class="row mb-3" id="event_username"></div>
                    <form method="POST" action="/profile_username">
                        <label for="event_username">Change username:</label>
                        <input type="text" id="event_username" name="username" value="">
                        <input type="submit">
                    </form> 
                </div>
            </td>
        </tr>


        <tr>
            <th>YEAR: {{year}}</th>
            <td>
                    <!-- DROPDOWN FOR YEARS--> 
                        <form method="POST" action="/profile_year">
                            <label for="event_year">Change graduation year:</label>
                            <select id="event_year" name="event_year">
                                 <option selected></option>
                                    <option value="1">2024</option>
                                    <option value="2">2025</option>
                                    <option value="3">2026</option>
                                    <option value="4">2027</option>
                                    <option value="5">2028</option>
                                    <option value="6">2029</option>
                                    <option value="7">2030</option>
                            <input type="submit">
                        </form>
                            
 
            <!-- ON SUBMIT: -->
                <!-- GET OLD GRADUATION YEAR FROM DATABASE -->
                <!-- DELETE THE OLD GRADUATION YEAR-->
                <!-- INSERT NEW GRADUATION YEAR --> 

            </td>
        
            

        </tr>
        <tr>
            <th>AREAS OF STUDY: {{study}}</th>
            <td>

                <!-- DROPDOWN FOR AREA OF STUDY--> 
                
                 <!-- USER INPUT FOR NEW GRADUATION YEAR-->
                    <form method="POST" action="/profile_major">
                            <label for="event_study">Select areas of study:</label>
                            <select id="event_study" name="event_study">
                                <option selected></option>
                                    <option selected></option>
                                    <option value="1">Aerospace Engineering Sciences</option>
                                    <option value="2">Applied Mathematics</option>
                                    <option value="3">Biomedical Engineering</option>
                                    <option value="4">Chemical and Biological Engineering</option>
                                    <option value="5">Civil, Environmental and Architectural Engineering</option>
                                    <option value="6">Computer Science</option>
                                    <option value="7">Creative Technology and Design</option>
                                    <option value="8">Electrical, Computer and Energy Engineering</option>
                                    <option value="9">Engineering and Applied Science</option>
                                    <option value="10">Engineering Management</option>
                                    <option value="11">Engineering Physics</option>
                                    <option value="12">Engineering, Ethics and Society</option>
                                    <option value="13">Integrated Design Engineering</option>
                                    <option value="14">Materials Science and Engineering</option>
                                    <option value="15">Mechanical Engineering</option>
                            <input type="submit">
                    </form>
            </td>
    
            <!-- ON SUBMIT: -->
                <!-- GET OLD MAJOR FROM DATABASE -->
                <!-- DELETE THE OLD MAJOR-->
                <!-- INSERT NEW MAJOR --> 

        </tr>
        <tr>
            <th>DEGREE: {{degree}}</th>
            <td>
             <!-- DROPDOWN FOR DEGREE--> 
                    <form method="POST" action="/profile_degree">
                            <label for="degrees">Select degree type:</label>
                            <select id="event_degrees" name="event_degrees">
                                <option selected></option>
                                <option value="1">Associate Degree</option>
                                <option value="2">Bachelor Degree</option>
                                <option value="3">Doctorate Degree</option>
                            </select>
                            <input type="submit">
                    </form>
            
            </td>
           
            <!-- ON SUBMIT: -->
                <!-- GET OLD DEGREE FROM DATABASE -->
                <!-- DELETE THE OLD DEGREE-->
                <!-- INSERT NEW DEGREE --> 

        </tr>
    </table>

    <!-- USER SPECIFIC EVENTS -->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">busy</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Event</h6>
            <p class="card-text">When: Wed, April 17, 4:45pm – 6:15pm</p>
        </div>
    </div>

</div>
